html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

header{
    height:80px;
    background: linear-gradient(rgba(34, 49, 52, 0.8),rgba(41,52,62,0.7));
    width:100%;
    position:fixed;
    top:0px;
    z-index:10;
    
}
.title{
    margin:0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    justify-content:center;
}


.header-right{
    float:right;
    position:absolute;
    top:15px;
    right:40px;
}
.button {
    position: relative;
    display: inline-block;
    padding: .9em 3.6em;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: all .2s;
  }
  .button::before,
  .button::after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid transparent;
  }
  .button::before {
    top: -2px;
    left: -2px;
  }
  .button::after {
    bottom: -2px;
    right: -2px;
  }
  .button:hover {
    color: #3be5ae;
  }
  .button:hover::before,
  .button:hover::after {
    width: 100%;
    height: 100%;
  }
  .button:hover::before {
    border-bottom-color: #3be5ae;
    border-left-color: #3be5ae;
    transition: height .2s, width .2s .2s;
  }
  .button:hover::after {
    border-top-color: #3be5ae;
    border-right-color: #3be5ae;
    transition: height .2s .4s, width .2s .6s;
  }
  
  
  .instagram{
    position:absolute;
    top:15px;
    left:40px;
    display:inline-block;
    outline:none;
    text-decoration: none;
    text-align:center;
    padding: .9em 2.7em;
    float:right;
    color:white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    opacity:0.9; 
    border-radius: 2px;
    letter-spacing:.5px;
}
.fa{
    margin-right:8px;
}


.page-top{
    color: #FF7C00;
    background: -webkit-linear-gradient(top, #FFA73D 50%, #ff921f 50%, #FF7C00 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:60px;
    letter-spacing: 5px;
    font-family:serif;
    text-decoration:none;
    display:inline-block;
}

.top-wrapper{
    height:837px;
}
.space{
    height:80px;
    background-color:white;
}
.top-image{
    background-image:url(yuuuuukko_top.jpg);
    background-size:cover;
    height:787px;
    opacity:0.85;
}
.main{
    height:1700px;
}

.page-top{
    position:relative;
    top:5px;
    padding-top:2px;
    outline:none;
}

.page-top::before{
    position:absolute;
    z-index:2;
    top:-2px;
    right:-2px;
    left:-2px;
    content:'';
    border-top:3px solid #5bb4ff;
    transform:scale(0,1);
}

.page-top:hover::before{
    transform:scale(1);
    transition:all 0.7s;
}
footer{
    height:80px;
    background: linear-gradient(rgba(34, 49, 52, 0.8),rgba(41,52,62,0.7));
}
